In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("movie_metadata.csv")

In [3]:
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5031 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [5]:
df.isnull().sum()

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [6]:
df.shape

(5043, 28)

In [7]:
df.drop_duplicates(inplace=True)
df.shape

(4998, 28)

In [8]:
df.isnull().sum()

color                         19
director_name                103
num_critic_for_reviews        49
duration                      15
director_facebook_likes      103
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        874
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                152
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               301
budget                       487
title_year                   107
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 327
movie_facebook_likes           0
dtype: int64

In [9]:
numerical_cols = [
    col for col in df.columns if df[col].dtype != 'object']
categorical_cols = [
    col for col in df.columns if df[col].dtype == 'object']

In [10]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
num_critic_for_reviews,4949.0,1.398901e+02,1.214776e+02,1.00,50.00,110.00,195.00,8.130000e+02
duration,4983.0,1.072133e+02,2.524878e+01,7.00,93.00,103.00,118.00,5.110000e+02
director_facebook_likes,4895.0,6.886791e+02,2.821650e+03,0.00,7.00,49.00,192.00,2.300000e+04
actor_3_facebook_likes,4975.0,6.399009e+02,1.643298e+03,0.00,133.00,369.00,635.00,2.300000e+04
actor_1_facebook_likes,4991.0,6.556940e+03,1.506159e+04,0.00,611.50,984.00,11000.00,6.400000e+05
gross,4124.0,4.832565e+07,6.796483e+07,162.00,5304835.25,25445749.00,62319416.00,7.605058e+08
num_voted_users,4998.0,8.347020e+04,1.380866e+05,5.00,8560.00,34260.50,96120.75,1.689764e+06
cast_total_facebook_likes,4998.0,9.676941e+03,1.816540e+04,0.00,1405.50,3085.50,13740.50,6.567300e+05
facenumber_in_poster,4985.0,1.368907e+00,2.014623e+00,0.00,0.00,1.00,2.00,4.300000e+01
num_user_for_reviews,4977.0,2.720147e+02,3.777762e+02,1.00,64.00,156.00,324.00,5.060000e+03
budget,4511.0,3.974787e+07,2.069689e+08,218.00,6000000.00,20000000.00,45000000.00,1.221550e+10
title_year,4891.0,2.002469e+03,1.247524e+01,1916.00,1999.00,2005.00,2011.00,2.016000e+03
actor_2_facebook_likes,4985.0,1.642999e+03,4.030925e+03,0.00,280.00,595.00,917.00,1.370000e+05
imdb_score,4998.0,6.441056e+00,1.124107e+00,1.60,5.80,6.60,7.20,9.500000e+00
aspect_ratio,4671.0,2.221417e+00,1.391185e+00,1.18,1.85,2.35,2.35,1.600000e+01
movie_facebook_likes,4998.0,7.487430e+03,1.929073e+04,0.00,0.00,162.50,3000.00,3.490000e+05

In [11]:
color_mode = df['color'].mode().iloc[0]
df.color.fillna(color_mode, inplace=True)
df.color.isnull().sum()

0

In [12]:
df = df.dropna(axis=0, subset=['director_name'])

In [13]:
df.num_critic_for_reviews.min(), df.num_critic_for_reviews.max(
), df.num_critic_for_reviews.median()

(1.0, 813.0, 112.0)

In [14]:
num_critic_for_reviews_median = df['num_critic_for_reviews'].median()
df.num_critic_for_reviews.fillna(
    num_critic_for_reviews_median, inplace=True)
df.num_critic_for_reviews.isnull().sum()

0

In [15]:
duration_median = df.duration.median()
df.duration.fillna(duration_median, inplace=True)
df.duration.isnull().sum()

0

In [16]:
director_facebook_likes_mean = df.director_facebook_likes.mean()
df.director_facebook_likes.fillna(
    director_facebook_likes_mean, inplace=True)
df.director_facebook_likes.isnull().sum()

0

In [17]:
df.actor_3_facebook_likes.min(), df.actor_3_facebook_likes.max(), df.actor_3_facebook_likes.median(),df.actor_3_facebook_likes.mean()

(0.0, 23000.0, 372.0, 646.1009230769231)

In [18]:
actor_3_facebook_likes_mean = df.actor_3_facebook_likes.mean()
df.actor_3_facebook_likes.fillna(
    actor_3_facebook_likes_mean, inplace=True)
df.actor_3_facebook_likes.isnull().sum()

0

In [19]:
df = df.dropna(axis=0, subset=['actor_2_name'])
df.actor_2_name.isnull().sum()

0

In [20]:
actor_1_facebook_likes_mean = df.actor_1_facebook_likes.mean()
df.actor_1_facebook_likes.fillna(
    actor_1_facebook_likes_mean, inplace=True)
df.actor_1_facebook_likes.isnull().sum()

0

In [21]:
df = df.dropna(axis=0, subset=['gross'])
df.gross.isnull().sum()

0

In [22]:
df.shape
df.isnull().sum()

color                          0
director_name                  0
num_critic_for_reviews         0
duration                       0
director_facebook_likes        0
actor_3_facebook_likes         0
actor_2_name                   0
actor_1_facebook_likes         0
gross                          0
genres                         0
actor_1_name                   0
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                   7
facenumber_in_poster           7
plot_keywords                 39
movie_imdb_link                0
num_user_for_reviews           1
language                       3
country                        0
content_rating                60
budget                       263
title_year                     0
actor_2_facebook_likes         0
imdb_score                     0
aspect_ratio                 102
movie_facebook_likes           0
dtype: int64

In [23]:
df = df.dropna(axis=0, subset=['budget'])
df.budget.isnull().sum()

0

In [24]:
df = df.dropna(axis=0, subset=['actor_3_name'])
df.actor_3_name.isnull().sum()

0

In [25]:
facenumber_in_poster_median = df.facenumber_in_poster.median()
df.facenumber_in_poster.fillna(facenumber_in_poster_median, inplace=True)
df.facenumber_in_poster.isnull().sum()

0

In [26]:
language_mode = df.language.mode().iloc[0]
df.language.fillna(language_mode, inplace=True)
df.language.isnull().sum()

0

In [27]:
df = df.dropna(axis=0, subset=['plot_keywords'])
df.plot_keywords.isnull().sum()

0

In [28]:
df.content_rating.unique()

array(['PG-13', 'PG', 'G', 'R', 'Approved', 'NC-17', nan, 'X',
       'Not Rated', 'Unrated', 'M', 'GP', 'Passed'], dtype=object)

In [29]:
df.content_rating.fillna('Not Rated', inplace=True)

In [30]:
df.aspect_ratio.unique()

array([ 1.78,  2.35,  1.85,  2.  ,  2.2 ,  2.39,  2.24,  1.66,  1.5 ,
        1.77,  2.4 ,  1.37,   nan,  2.76,  1.33,  1.18,  2.55,  1.75,
       16.  ])

In [31]:
aspect_ratio_mode = df.aspect_ratio.mode().iloc[0]
df.aspect_ratio.fillna(aspect_ratio_mode, inplace=True)

In [32]:
df.isnull().sum()

color                        0
director_name                0
num_critic_for_reviews       0
duration                     0
director_facebook_likes      0
actor_3_facebook_likes       0
actor_2_name                 0
actor_1_facebook_likes       0
gross                        0
genres                       0
actor_1_name                 0
movie_title                  0
num_voted_users              0
cast_total_facebook_likes    0
actor_3_name                 0
facenumber_in_poster         0
plot_keywords                0
movie_imdb_link              0
num_user_for_reviews         0
language                     0
country                      0
content_rating               0
budget                       0
title_year                   0
actor_2_facebook_likes       0
imdb_score                   0
aspect_ratio                 0
movie_facebook_likes         0
dtype: int64

In [33]:
df

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5033,Color,Shane Carruth,143.0,77.0,291.0,8.0,David Sullivan,291.0,424760.0,Drama|Sci-Fi|Thriller,...,371.0,English,USA,PG-13,7000.0,2004.0,45.0,7.0,1.85,19000
5034,Color,Neill Dela Llana,35.0,80.0,0.0,0.0,Edgar Tancangco,0.0,70071.0,Thriller,...,35.0,English,Philippines,Not Rated,7000.0,2005.0,0.0,6.3,2.35,74
5035,Color,Robert Rodriguez,56.0,81.0,0.0,6.0,Peter Marquardt,121.0,2040920.0,Action|Crime|Drama|Romance|Thriller,...,130.0,Spanish,USA,R,7000.0,1992.0,20.0,6.9,1.37,0
5037,Color,Edward Burns,14.0,95.0,0.0,133.0,Caitlin FitzGerald,296.0,4584.0,Comedy|Drama,...,14.0,English,USA,Not Rated,9000.0,2011.0,205.0,6.4,2.35,413
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3817 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      3817 non-null   object
 1   director_name              3817 non-null   object
 2   num_critic_for_reviews     3817 non-null   float64
 3   duration                   3817 non-null   float64
 4   director_facebook_likes    3817 non-null   float64
 5   actor_3_facebook_likes     3817 non-null   float64
 6   actor_2_name               3817 non-null   object
 7   actor_1_facebook_likes     3817 non-null   float64
 8   gross                      3817 non-null   float64
 9   genres                     3817 non-null   object
 10  actor_1_name               3817 non-null   object
 11  movie_title                3817 non-null   object
 12  num_voted_users            3817 non-null   int64
 13  cast_total_facebook_likes  3817 non-null   int64
 14  actor_3_name               3817 non-null   object
 15  facenumber_in_poster       3817 non-null   float64
 16  plot_keywords              3817 non-null   object
 17  movie_imdb_link            3817 non-null   object
 18  num_user_for_reviews       3817 non-null   float64
 19  language                   3817 non-null   object
 20  country                    3817 non-null   object
 21  content_rating             3817 non-null   object
 22  budget                     3817 non-null   float64
 23  title_year                 3817 non-null   float64
 24  actor_2_facebook_likes     3817 non-null   float64
 25  imdb_score                 3817 non-null   float64
 26  aspect_ratio               3817 non-null   float64
 27  movie_facebook_likes       3817 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 864.8+ KB

In [36]:
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000

In [38]:
df.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,3817.000000,3817.000000,3817.000000,3817.000000,3817.000000,3.817000e+03,3.817000e+03,3817.000000,3817.000000,3817.000000,3.817000e+03,3817.000000,3817.000000,3817.000000,3817.000000,3817.000000
mean,164.228714,110.039822,791.328006,751.810584,7635.757663,5.140937e+07,1.033364e+05,11328.000262,1.376736,329.415510,4.556672e+07,2003.012313,1975.112130,6.464972,2.113602,9157.103222
std,123.738118,22.748879,3040.791520,1848.017755,15462.539811,6.948385e+07,1.506990e+05,18987.425689,2.055076,408.819521,2.244313e+08,9.949459,4489.376235,1.053648,0.351860,21359.297486
min,1.000000,34.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1920.000000,0.000000,1.600000,1.180000,0.000000
25%,74.000000,95.000000,10.000000,184.000000,723.000000,7.156933e+06,1.794800e+04,1846.000000,0.000000,104.000000,1.000000e+07,1999.000000,368.000000,5.900000,1.850000,0.000000
50%,135.000000,106.000000,59.000000,429.000000,1000.000000,2.856318e+07,5.205500e+04,3939.000000,1.000000,204.000000,2.500000e+07,2005.000000,668.000000,6.600000,2.350000,209.000000
75%,222.000000,120.000000,226.000000,687.000000,12000.000000,6.600200e+07,1.251090e+05,16089.000000,2.000000,393.000000,5.000000e+07,2010.000000,972.000000,7.200000,2.350000,11000.000000
max,813.000000,330.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.300000,16.000000,349000.000000

In [51]:
with open('movies.txt', 'w') as file:
    # Iterate over each row in the DataFrame
    for index, row in df.iterrows():
        # Write the title and data for each column
        file.write(f"{row['movie_title']}:\n")
        file.write(
            f"Title of the Movie: {row['movie_title']}\n")
        file.write(f"Duration in minutes: {row['duration']}\n")
        file.write(
            f"Name of the Director of the Movie : {row['director_name']}\n")
        file.write(
            f"Number of likes of the Director on his Facebook Page : {row['director_facebook_likes']}\n")
        file.write(
            f"Primary actor starring in the movie: {row['actor_1_name']}\n")
        file.write(
            f"Number of likes of the Actor_1 on his/her Facebook Page: {row['actor_1_facebook_likes']}\n")
        file.write(
            f"Other actor starring in the movie: {row['actor_2_name']}\n")
        file.write(
            f"Number of likes of the Actor_2 on his/her Facebook Page: {row['actor_2_facebook_likes']}\n")
        file.write(
            f"Other actor starring in the movie: {row['actor_3_name']}\n")
        file.write(
            f"Number of likes of the Actor_3 on his/her Facebook Page: {row['actor_3_facebook_likes']}\n")
        file.write(
            f"Number of users who gave a review: {row['num_user_for_reviews']}\n")
        file.write(
            f"Number of critical reviews on imdb: {row['num_critic_for_reviews']}\n")
        file.write(
            f"Number of people who voted for the movie: {row['num_voted_users']}\n")
        file.write(
            f"Total number of facebook likes of the entire cast of the movie: {row['cast_total_facebook_likes']}\n")
        file.write(
            f"Number of Facebook likes in the movie page: {row['movie_facebook_likes']}\n")
        file.write(
            f"Keywords describing the movie plot: {row['plot_keywords']}\n")
        file.write(
            f"Number of the actor who featured in the movie poster: {row['facenumber_in_poster']}\n")
        file.write(
            f"Film colorization. 'Black and White' or 'Color': {row['color']}\n")
        file.write(f"Film categorization: {row['genres']}\n")
        file.write(
            f"The year in which the movie is released: {row['title_year']}\n")
        file.write(f"Movie Language: {row['language']}\n")
        file.write(
            f"Country where the movie is produced: {row['country']}\n")
        file.write(f"Content rating of the movie: {row['content_rating']}\n")
        file.write(
            f"Aspect ratio the movie was made in: {row['aspect_ratio']}\n")
        file.write(f"IMDB link of the movie: {row['movie_imdb_link']}\n")
        file.write(f"Gross earnings of the movie in Dollars: {row['gross']}\n")
        file.write(f"Budget of the movie in Dollars: {row['budget']}\n")
        file.write(f"IMDB Score of the movie on IMDB: {row['imdb_score']}\n")
        if row['imdb_score'] >= 1 and row['imdb_score']<3:
            file.write(f"Movie Status: Flop Movie\n")
        elif row['imdb_score'] >= 3 and row['imdb_score'] < 6:
            file.write(f"Movie Status: Average Movie\n")
        elif row['imdb_score'] >= 6 and row['imdb_score'] <= 10:
            file.write(f"Movie Status: Hit Movie\n")

        file.write("\n")
        file.write("\n")
        file.write("\n")

In [52]:
with open('hitmovies.txt', 'w') as file:
    # Iterate over each row in the DataFrame
    file.write("Hit Movies\n\n\n")

    for index, row in df.iterrows():
        # Write the title and data for each column
        if row['imdb_score'] >= 6 and row['imdb_score'] <= 10:
            file.write(f"{row['movie_title']}\n")

In [54]:
with open('averagemovies.txt', 'w') as file:
    # Iterate over each row in the DataFrame
    file.write("Average Movies\n\n\n")

    for index, row in df.iterrows():
        # Write the title and data for each column
        if row['imdb_score'] >= 3  and row['imdb_score'] < 6:
            file.write(f"{row['movie_title']}\n")

In [ ]:
with open('flopmovies.txt', 'w') as file:
    # Iterate over each row in the DataFrame
    file.write("Flop Movies\n\n\n")

    for index, row in df.iterrows():
        # Write the title and data for each column
        if row['imdb_score'] >= 0 and row['imdb_score'] < 3:
            file.write(f"{row['movie_title']}\n")